<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="login.component.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="title">Bienvenue</div>
      <form action="#">
        <div class="field">
          <input type="text"
          required 
          name="email" 
          [(ngModel)]="user.email" />
          <label>Email</label>
        </div>
        <div class="field">
          <input type="password" 
          required 
          name="password" 
          [(ngModel)]="user.password" />
          <label>Mot de passe</label>
        </div>
        <div class="content">
          
        </div>
        <div class="field">
          <input type="submit" value="Se connecter" (click)="LoginUser()" />
        </div>
        
      </form>
    </div>
  </body>
</html>
